.mainForm {
  background: linear-gradient(45deg, #2f4e6e 0%, #84451b 50%, #782058 100%);
  padding-top: 8rem;
  padding-bottom: 8rem;
  min-height: 85vh;

  .innerForm {
    background-color: #efefef3e;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 50rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 8rem;
    font-size: 4rem;
    color: white;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
  }
 

  .notRegistered {
    align-items: end;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: #333333c1;
  }

  .clickToReg {
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #582222;
    font-style: italic;
    transition: 0.2s;
  }
  .clickToReg:hover {
    scale: 107%;
    color: rgba(255, 255, 255, 0.534);
  }
}
